{% extends "base.html" %}
{% load static %}

{% block titulo %}Home{% endblock titulo %}

{% block contenido %}
<!-- Page Header-->
        <header class="masthead" style="background-image: url('{% static "assets/img/home-bg.jpg" %}')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <h1>Inicio</h1>
                            <span class="subheading">Blogs post</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <!-- CONTENEDOR DONDE SE CARGARÁN LOS POSTS -->
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center" id="posts-container">
            </div>
        </div>

{% endblock %}

{% block scripts %}
<script>
document.addEventListener("DOMContentLoaded", function(){

fetch("/blog/api/posts/")
.then(response => {
    if (!response.ok) {
        throw new Error("Error en la respuesta del servidor")
    }
    return response.json()
})
.then(data => {

    const container = document.getElementById("posts-container")

    data.forEach(post => {

        let deleteButton = ""

        if(post.can_delete){ //toca crear la funcion de deletePost y editar post, pero por ahora solo se muestra el boton si el post se puede eliminar
            deleteButton = `
                <button onclick="deletePost(${post.id})" class="btn btn-danger">
                    Eliminar
                </button>
                <button onclick="deletePost(${post.id})" class="btn btn-warning">
                    Editar
                </button>
            `
        }

        container.innerHTML += `
        <div class="container px-4 px-lg-5">

            <div class="row gx-4 gx-lg-5 justify-content-center" id="posts-container">

                <div class="col-md-10 col-lg-8 col-xl-7">

                        <div class="post-preview">

                            <a href="blog/post/${post.id}/">

                                <h2 class="post-title">${post.titulo}</h2>

                                <h3 class="post-subtitle">${post.contenido}</h3>

                            </a>

                            <p class="post-meta">
                                Post Creado el ${post.created_at} por: ${post.autor}
                            </p>

                            ${deleteButton}

                        </div>

                </div>

            </div>

        </div>
        `
    })

})
.catch(error => {
    console.error("Error:", error)
})

})
</script>
{% endblock scripts %}
