{% extends "base.html" %}
{% load static %}
{% load socialaccount %}

{% block titulo %}Login{% endblock titulo %}

{% block contenido %}
        <header class="masthead" style="background-image: url('{% static "assets/img/home-bg.jpg" %}')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <h1>Inicio de Sesion</h1>
                        </div>
                    </div>
                </div>
            </div>
        </header> <br><br>
        <!-- Main Content-->
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <form>
                        {% csrf_token %}
                        <!-- Email input -->
                        <p id="error-message" class="text-danger"></p>
                        <div data-mdb-input-init class="form-outline mb-4">
                            <input type="email" id="email" class="form-control" />
                            <label class="form-label" for="email">Email</label>
                        </div>

                        <!-- Password input -->
                        <div data-mdb-input-init class="form-outline mb-4">
                            <input type="password" id="password" class="form-control" />
                            <label class="form-label" for="password">Password</label>
                        </div>

                        <!-- 2 column grid layout for inline styling -->
                        <div class="row mb-4">
                            <div class="col d-flex justify-content-center">
                            <!-- Checkbox -->
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="rememberMe" checked />
                                <label class="form-check-label" for="rememberMe">Recordarme</label>
                            </div>
                            </div>

                            <div class="col">
                            <!-- Simple link -->
                            <a href="#!">Olvidaste la contraseña?</a>
                            </div>
                        </div>

                        <!-- Submit button -->
                        <button  type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-block mb-4">Ingresar</button>

                        <!-- Register buttons -->
                        <div class="text-center">
                            <p>No estas registrado?<a href="register"> Registrate</a></p>
                            <p>Ingresar con:</p>
                            <button  type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-link btn-floating mx-1">
                            <a href="{% provider_login_url 'google' %}"><i class="fab fa-google" style="height: 40px; width: 40px;"></i></a>
                            </button>
                        </div>
                        </form>
                </div>
            </div>
        </div><br><br><br><br><br>
{% endblock contenido %}
{% block scripts %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const form = document.querySelector('form');
        form.addEventListener('submit', function(event) {
            event.preventDefault();
            
            const data = {
                email: document.getElementById('email').value,
                password: document.getElementById('password').value
            };

            //que los campos esten completos
            if (!data.email || !data.password) {
                alert('Por favor, completa todos los campos');
                return;
            }

            fetch('/api/login/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': document.querySelector('[name=csrfmiddlewaretoken]').value
                },
                credentials: 'include',
                body: JSON.stringify(data)
            }).then(response => response.json())
            .then(data => {
                console.log('Success:', data);
                if (data.success) {
                    alert('Inicio de sesión exitoso');
                    window.location.href = '/home/';
                } else {
                    const msj= document.getElementById('error-message');
                    console.log(data.error);
                    msj.textContent = 'Error al ingresar';
                    msj.style.color = 'red';
                    alert("credenciales inválidas");
                }
            })
            .catch(error => {
                console.error('Error:', error);
            });
        });
    });
</script>
{% endblock scripts %}
