{% extends "base.html" %}
{% load static %}
{% load socialaccount %}

{% block titulo %}Post {% endblock titulo %} 

{% block contenido %}
    <body>
        <!-- Page Header, todo esto en el fetch xd-->
        <header class="masthead" style="background-image: url('assets/img/post-bg.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="post-heading"> <!--primer fetch-->
                            <div id="encabezado-post"></div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Post Content-->
        <article class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div id="post-content"></div>
                    </div>
                </div>
            </div>
        </article>
    </body>
{% endblock contenido %}
{% block scripts %} 
<script>
document.addEventListener("DOMContentLoaded", function(){

const path = window.location.pathname
const postId = path.split("/")[3]

fetch(`/blog/api/post/${postId}/`)
.then(response => {
    if (!response.ok) {
        throw new Error("Error en la respuesta del servidor")
    }
    return response.json()
})
.then(data => {

    const headerDiv = document.getElementById("encabezado-post")
    headerDiv.innerHTML = `
        <h1>${data.titulo}</h1>
        <img src="${data.imagen}" alt="Imagen del post" class="img-fluid" />
    `

    const contentDiv = document.getElementById("post-content")
    contentDiv.innerHTML = `
        <p>${data.contenido}</p>
        <video controls class="img-fluid">
            <source src="${data.video}" type="video/mp4">
        </video>
    `

    // cambiar título de la pestaña
    document.title = data.titulo

})
.catch(error => {
    console.error("Error al cargar el post:", error)
    document.getElementById("post-content").innerHTML =
        "<p>Error al cargar el post.</p>"
})

})
</script>
{% endblock scripts %}